{% extends 'base.html'  %}
{% load static %} 
{% block content %}


<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

                   <div class="owl-carousel owl-theme">
                        <div class="item item-first">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>Let's make your life happier</h3>
                                       <h1>Healthy Living</h1>
                                       <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                  </div>
                             </div>
                        </div>

                        <div class="item item-second">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>The Power to Heal</h3>
                                       <h1>New Lifestyle</h1>
                                       <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                  </div>
                             </div>
                        </div>

                        <div class="item item-third">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>Keeping you to a better life</h3>
                                       <h1>Your Health Benefits</h1>
                                       <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                  </div>
                             </div>
                        </div>
                   </div>

         </div>
    </div>
</section>

     <!-- ABOUT -->
     <section id="about">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-6">
                       <div class="about-info">
                            <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to the Dev Clinic</h2>
                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                 <p>My Aim is to provide World Class Health services to everyone in the World.</p>
                                 <p>Having good health is everyone wish.</p>
                            </div>
                            <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                 <img src="/static/images/abputdvks.jpg" class="img-responsive" alt="">
                                 <figcaption>
                                      <h3>Dr. Channo Kamli</h3>
                                      <p>General Principal</p>
                                 </figcaption>
                            </figure>
                       </div>
                  </div>
                  
             </div>
        </div>
   </section>

      <!-- MAKE AN APPOINTMENT -->
      <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <img src="images/appointment-image.jpg" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form id="appointment-form" role="form" method="post" action="#">

                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Make an appointment</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="date">Select Date</label>
                                        <input type="date" name="date" value="" class="form-control">
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Department</label>
                                        <select class="form-control">
                                             <option>General Health</option>
                                             <option>Cardiology</option>
                                             <option>Dental</option>
                                             <option>Medical Research</option>
                                        </select>
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        <label for="telephone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                                        <label for="Message">Additional Message</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                                   </div>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>



<!-- Team -->
   <section id="team" data-stellar-background-ratio="1">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-6">
                   <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                   </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-4 col-sm-6">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="/static/images/team-image1.jpg" class="img-responsive" alt="">

                             <div class="team-info">
                                  <h3>Marus Andrews</h3>
                                  <p>General Principal</p>
                                  <div class="team-contact-info">
                                       <p><i class="fa fa-phone"></i> 010-020-0120</p>
                                       <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>
                                  </div>
                                  <ul class="social-icon">
                                       <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                       <li><a href="#" class="fa fa-envelope-o"></a></li>
                                  </ul>
                             </div>

                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="/static/images/team-image2.jpg" class="img-responsive" alt="">

                             <div class="team-info">
                                  <h3>Claire Brownie</h3>
                                  <p>Pregnancy</p>
                                  <div class="team-contact-info">
                                       <p><i class="fa fa-phone"></i> 91-8351234567</p>
                                       <p><i class="fa fa-envelope-o"></i> <a href="#">MD@DevClinic.com</a></p>
                                  </div>
                                  <ul class="social-icon">
                                       <li><a href="#" class="fa fa-facebook-square"></a></li>
                                       <li><a href="#" class="fa fa-envelope-o"></a></li>
                                       <li><a href="#" class="fa fa-flickr"></a></li>
                                  </ul>
                             </div>

                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="/static/images/team-image3.jpg" class="img-responsive" alt="">

                             <div class="team-info">
                                  <h3>Neil Melendez</h3>
                                  <p>Cardiology</p>
                                  <div class="team-contact-info">
                                       <p><i class="fa fa-phone"></i> 91-8351234567</p>
                                       <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                                  </div>
                                  <ul class="social-icon">
                                       <li><a href="#" class="fa fa-twitter"></a></li>
                                       <li><a href="#" class="fa fa-envelope-o"></a></li>
                                  </ul>
                             </div>

                   </div>
              </div>
              
         </div>
    </div>
</section>
<!-- Team end -->





{%endblock %}

