{% extends 'Ui_base.html' %}
{%  load static %}
{% block content %}
    <h1>{{Appointment.name}}</h1>
<hr>
    <h5>Prescription</h5>
    <!-- this is the thing refered inn the models of Prescription -->
        <!-- {% for i in  -->
        <!-- Appointment.prescription_set.all %} -->
    {% for i in prescription %}
    <p>{{i.prescription_notes}}</p>
    <p>{{i.prescribed_on}}</p>
    <hr>
    {% endfor %}
    <a href="{%url 'Appointments' %}">Go Back  </a>
    <br>
    <a href="/Delete-Appointment/{{Appointment.id_number}}/">Delete</a>
{% endblock content %}